<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="<%= current_user ? groups_path : '/' %>">Business Plan</a></h1>
      <p>Free Website Template</p>
    </div>
    <ul id="topnav">
      <li class="active"><a href="/">Home</a></li>
      <li ><a href="<%= groups_path %>">My Groups</a></li>
      <%- unless current_user  %><li ><%= link_to 'Sign in', new_user_session_path %></li>
      <%- else %>
      <li ><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <%- end %>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
